header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
body {
    width: 1280px;
    margin: 0 auto;
}
.container {
    width: 90%;
    max-width: 1200px;
}
.Header {
    font-family: 'ROBOTO';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: flex-start;
}
.blue {
    color: #4BCAFF;
}

.div-container {
    display: flex;
    background: #35444F;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 1280px;
}
 .item:hover {
     background:#222F3A;
     scale: none;
     height: 1px;
}
.item {
    border: 1px solid white;
    height: 69px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    color: white;
    padding: 40px;
}
main {
    width: 1280px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: flex-start ;
    justify-content: space-between;
}
.side-bar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 399px;
    min-width: 344px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 49px;
    margin-right: 47px;
    padding: 1px;
}
.item1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;
    color: black;
    height: 69px;
    display: flex;
    align-items: center;
    width: 300px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 885px;
    height: 530px;
    margin-top: 49px;
}
.img:hover {
    transform: scale(110%);
    transform-style: flat;
}
.img {
    display: flex;
    width: 320px;
    height: 381px;
}
.txt1 {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    flex-direction: column;

}
.box2 {
    display: flex;
    flex-direction: column;
}
footer {
    width: 1280px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: flex-start ;
    justify-content: space-between;
}
.box3 {
    display: flex;
    background: #63696E7A;
    justify-content: flex-start;
    align-items: center;
    height: 69px;
    min-width: 1280px;
}

.item2 {
    height: 69px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    color: #000000;
    padding: 20px;
    margin-left: 20px;
}
.cop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 0 auto;
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: white;
}
.item1:hover {
    background: #DBDBDB;
    transform: scale(101%);
}
.a1 {
    color: black;
}
.a2 { color: black;
    height: 69px;
    display: flex;
    align-items: center;
}
.item2:hover {
    text-decoration: underline;
    color: #3181A6;
}
.a2:hover {
    color: #3181A6;
    text-decoration: underline;
}